In [3]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import accuracy_score, confusion_matrix

In [4]:
bike_data1=pd.read_csv('201901-capitalbikeshare-tripdata.csv', sep=',')
bike_data2=pd.read_csv('201902-capitalbikeshare-tripdata.csv', sep=',')
bike_data3=pd.read_csv('201903-capitalbikeshare-tripdata.csv', sep=',')
bike_data4=pd.read_csv('201904-capitalbikeshare-tripdata.csv', sep=',')
bike_data5=pd.read_csv('201905-capitalbikeshare-tripdata.csv', sep=',')
bike_data6=pd.read_csv('201906-capitalbikeshare-tripdata.csv', sep=',')
bike_data7=pd.read_csv('201907-capitalbikeshare-tripdata', sep=',')
bike_data8=pd.read_csv('201908-capitalbikeshare-tripdata.csv', sep=',')
bike_data9=pd.read_csv('201909-capitalbikeshare-tripdata.csv', sep=',')
bike_data10=pd.read_csv('201910-capitalbikeshare-tripdata.csv', sep=',')
bike_data11=pd.read_csv('201911-capitalbikeshare-tripdata.csv', sep=',')
bike_data12=pd.read_csv('201912-capitalbikeshare-tripdata.csv', sep=',')

In [5]:
bike_data1['month']=1
bike_data1['season']=1
bike_data2['month']=2
bike_data2['season']=1
bike_data3['month']=3
bike_data3['season']=2
bike_data4['month']=4
bike_data4['season']=2
bike_data5['month']=5
bike_data5['season']=2
bike_data6['month']=6
bike_data6['season']=3
bike_data7['month']=7
bike_data7['season']=3
bike_data8['month']=8
bike_data8['season']=3
bike_data9['month']=9
bike_data9['season']=4
bike_data10['month']=10
bike_data10['season']=4
bike_data11['month']=11
bike_data11['season']=4
bike_data12['month']=12
bike_data12['season']=1

In [6]:
bike_data=pd.concat([bike_data1,bike_data2,bike_data3,bike_data4,bike_data5,bike_data6,bike_data7,bike_data8,bike_data9,bike_data10,bike_data11,bike_data12 ])

In [108]:
from datetime import timedelta
startyear=datetime(2019,1,1,0,0,0,0)
bike_data['ordday']=(bike_data['Start date']-startyear).astype('timedelta64[D]')

In [118]:
ordday=list(bike_data['ordday'])
dates=[]
for j in range(365):
    dates.append(ordday.count(j))

In [150]:
from pandas import DataFrame
df = DataFrame (dates,columns=['Number of customers'])
datess=[]
for j in range(365):
    datess.append(startyear+timedelta(days=j))
df['Day']=datess
df['weekday']=(df['Day']).dt.weekday
df['isholiday']=df['Day'].apply(lambda value: 1 if ('20'+(value.strftime("%y-%m-%d")) in us_holidays) else 0)
df['workingday'] = df[['isholiday','weekday']].apply(lambda x: 0 if (x['weekday'] in [6,7] or x['isholiday']==1) else 1, axis=1)
df['month']=(df['Day']).dt.month
df.loc[df['month']  ==1, 'Season'] = 'Winter' 
df.loc[df['month'] ==2, 'Season'] = 'Winter' 
df.loc[df['month'] ==12, 'Season'] = 'Winter' 
df.loc[df['month'] ==3, 'Season'] = 'Spring' 
df.loc[df['month'] ==4, 'Season'] = 'Spring' 
df.loc[df['month'] ==5, 'Season'] = 'Spring' 
df.loc[df['month'] ==6, 'Season'] = 'Summer' 
df.loc[df['month'] ==7, 'Season'] = 'Summer' 
df.loc[df['month'] ==8, 'Season'] = 'Summer' 
df.loc[df['month'] ==9, 'Season'] = 'Fall' 
df.loc[df['month'] ==10, 'Season'] = 'Fall' 
df.loc[df['month'] ==11, 'Season'] = 'Fall'

In [157]:
df3.head()

,Number of casual customers,Day,weekday,isholiday,workingday,month,Season
0,1083,2019-01-01,1,1,0,1,Winter
1,660,2019-01-02,2,0,1,1,Winter
2,938,2019-01-03,3,0,1,1,Winter
3,848,2019-01-04,4,0,1,1,Winter
4,701,2019-01-05,5,0,1,1,Winter

In [144]:
member_data=bike_data[bike_data['Member type']=='Member']
casual_data=bike_data[bike_data['Member type']=='Casual']

In [145]:
from datetime import timedelta
startyear=datetime(2019,1,1,0,0,0,0)
member_data['ordday']=(member_data['Start date']-startyear).astype('timedelta64[D]')
casual_data['ordday']=(casual_data['Start date']-startyear).astype('timedelta64[D]')

In [147]:
mordday=list(member_data['ordday'])
mdates=[]
for j in range(365):
    mdates.append(mordday.count(j))
cordday=list(casual_data['ordday'])
cdates=[]
for j in range(365):
    cdates.append(cordday.count(j))

In [152]:
from pandas import DataFrame
df2 = DataFrame (mdates,columns=['Number of registered customers'])
datess=[]
for j in range(365):
    datess.append(startyear+timedelta(days=j))
df2['Day']=datess
df2['weekday']=(df2['Day']).dt.weekday
df2['isholiday']=df2['Day'].apply(lambda value: 1 if ('20'+(value.strftime("%y-%m-%d")) in us_holidays) else 0)
df2['workingday'] = df2[['isholiday','weekday']].apply(lambda x: 0 if (x['weekday'] in [6,7] or x['isholiday']==1) else 1, axis=1)
df2['month']=(df2['Day']).dt.month
df2.loc[df2['month']  ==1, 'Season'] = 'Winter' 
df2.loc[df2['month'] ==2, 'Season'] = 'Winter' 
df2.loc[df2['month'] ==12, 'Season'] = 'Winter' 
df2.loc[df2['month'] ==3, 'Season'] = 'Spring' 
df2.loc[df2['month'] ==4, 'Season'] = 'Spring' 
df2.loc[df2['month'] ==5, 'Season'] = 'Spring' 
df2.loc[df2['month'] ==6, 'Season'] = 'Summer' 
df2.loc[df2['month'] ==7, 'Season'] = 'Summer' 
df2.loc[df2['month'] ==8, 'Season'] = 'Summer' 
df2.loc[df2['month'] ==9, 'Season'] = 'Fall' 
df2.loc[df2['month'] ==10, 'Season'] = 'Fall' 
df2.loc[df2['month'] ==11, 'Season'] = 'Fall'

In [158]:
df3 = DataFrame (cdates,columns=['Number of casual customers'])
datess=[]
for j in range(365):
    datess.append(startyear+timedelta(days=j))
df3['Day']=datess
df3['weekday']=(df3['Day']).dt.weekday
df3['isholiday']=df3['Day'].apply(lambda value: 1 if ('20'+(value.strftime("%y-%m-%d")) in us_holidays) else 0)
df3['workingday'] = df3[['isholiday','weekday']].apply(lambda x: 0 if (x['weekday'] in [6,7] or x['isholiday']==1) else 1, axis=1)
df3['month']=(df3['Day']).dt.month
df3.loc[ df3['month']  ==1,'Season'] = 'Winter' 
df3.loc[df3['month'] ==2, 'Season'] = 'Winter' 
df3.loc[df3['month'] ==12, 'Season'] = 'Winter' 
df3.loc[df3['month'] ==3, 'Season'] = 'Spring' 
df3.loc[df3['month'] ==4, 'Season'] = 'Spring' 
df3.loc[df3['month'] ==5, 'Season'] = 'Spring' 
df3.loc[df3['month'] ==6, 'Season'] = 'Summer' 
df3.loc[df3['month'] ==7, 'Season'] = 'Summer' 
df3.loc[df3['month'] ==8, 'Season'] = 'Summer' 
df3.loc[df3['month'] ==9, 'Season'] = 'Fall' 
df3.loc[df3['month'] ==10, 'Season'] = 'Fall' 
df3.loc[df3['month'] ==11, 'Season'] = 'Fall'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [162]:
df['Casual Customers']=cdates
df['Registered Customers']=mdates
df.head()

,Number of customers,Day,weekday,isholiday,workingday,month,Season,Casual Customers,Registered Customers
0,4540,2019-01-01,1,1,0,1,Winter,1083,3457
1,6567,2019-01-02,2,0,1,1,Winter,660,5907
2,7604,2019-01-03,3,0,1,1,Winter,938,6666
3,7362,2019-01-04,4,0,1,1,Winter,848,6514
4,5106,2019-01-05,5,0,1,1,Winter,701,4405

In [44]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3398417 entries, 0 to 161877
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Duration              int64
 1   Start date            object
 2   End date              object
 3   Start station number  int64
 4   Start station         object
 5   End station number    int64
 6   End station           object
 7   Bike number           object
 8   Member type           object
 9   month                 int64
 10  season                int64
dtypes: int64(5), object(6)
memory usage: 311.1+ MB

In [7]:
bike_data['Start date']=pd.to_datetime(bike_data['Start date'])
bike_data['End date']=pd.to_datetime(bike_data['End date'])

In [8]:

bike_data['weekday']=(bike_data['Start date']).dt.weekday
bike_data['hour']=(bike_data['Start date']).dt.hour

In [54]:
bike_data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,month,season,weekday,hour
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,14th & Rhode Island Ave NW,31200,Massachusetts Ave & Dupont Circle NW,E00141,Member,1,1,1,0
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,15th St & Constitution Ave NW,31114,18th St & Wyoming Ave NW,W24067,Casual,1,1,1,0
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,Adams Mill & Columbia Rd NW,31323,Woodley Park Metro / Calvert St & Connecticut ...,W22654,Casual,1,1,1,0
3,228,2019-01-01 00:08:47,2019-01-01 00:12:35,31281,8th & O St NW,31280,11th & S St NW,W22336,Member,1,1,1,0
4,1300,2019-01-01 00:12:29,2019-01-01 00:34:10,31014,Lynn & 19th St North,31923,Columbia Pike & S Taylor St,70004,Member,1,1,1,0

In [41]:
import holidays
from datetime import datetime

In [29]:
us_holidays=[]
for dat in holidays.UnitedStates(years=2019).items():
    us_holidays.append(str(dat[0]))

In [47]:
('20'+((bike_data['Start date'].dt.date).iloc[0]).strftime("%y-%m-%d")) in us_holidays

True

In [62]:
bike_data['isholiday']=bike_data['Start date'].apply(lambda value: 1 if ('20'+(value.strftime("%y-%m-%d")) in us_holidays) else 0)
bike_data['workingday'] = bike_data[['isholiday','weekday']].apply(lambda x: 0 if (x['weekday'] in [6,7] or x['isholiday']==1) else 1, axis=1)

# display updated DataFrame
bike_data['workingday']

0         0
1         0
2         0
3         0
4         0
         ..
161873    1
161874    1
161875    1
161876    1
161877    1
Name: workingday, Length: 3398417, dtype: int64

In [63]:
bike_data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,month,season,weekday,hour,isholiday,workingday
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,14th & Rhode Island Ave NW,31200,Massachusetts Ave & Dupont Circle NW,E00141,Member,1,1,1,0,1,0
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,15th St & Constitution Ave NW,31114,18th St & Wyoming Ave NW,W24067,Casual,1,1,1,0,1,0
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,Adams Mill & Columbia Rd NW,31323,Woodley Park Metro / Calvert St & Connecticut ...,W22654,Casual,1,1,1,0,1,0
3,228,2019-01-01 00:08:47,2019-01-01 00:12:35,31281,8th & O St NW,31280,11th & S St NW,W22336,Member,1,1,1,0,1,0
4,1300,2019-01-01 00:12:29,2019-01-01 00:34:10,31014,Lynn & 19th St North,31923,Columbia Pike & S Taylor St,70004,Member,1,1,1,0,1,0

In [96]:
from datetime import timedelta
startyear=datetime(2019,1,1,0,0,0,0)
bike_data['ordday']=(bike_data['Start date']-startyear).astype('timedelta64[D]')

In [102]:
ordday=list(bike_data['ordday'])

In [106]:
dates=[]
for j in range(365):
    dates.append(ordday.count(j))

In [105]:
ordday.count(1)

6567

In [180]:
JanWeather=pd.read_excel('Jan19.xlsx', engine='openpyxl')
FebWeather=pd.read_excel('Feb19.xlsx', engine='openpyxl')
MarWeather=pd.read_excel('Mar19.xlsx', engine='openpyxl')
AprWeather=pd.read_excel('Apr19.xlsx', engine='openpyxl')
MayWeather=pd.read_excel('May19.xlsx', engine='openpyxl')
JunWeather=pd.read_excel('Jun19.xlsx', engine='openpyxl')
JulWeather=pd.read_excel('Jul19.xlsx', engine='openpyxl')
AugWeather=pd.read_excel('Aug19.xlsx', engine='openpyxl')
SepWeather=pd.read_excel('Sep19.xlsx', engine='openpyxl')
OctWeather=pd.read_excel('Oct19.xlsx', engine='openpyxl')
NovWeather=pd.read_excel('Nov19.xlsx', engine='openpyxl')
DecWeather=pd.read_excel('Dec19.xlsx', engine='openpyxl')

In [201]:
df['AverageTemp']=(pd.concat([JanWeather['Unnamed: 2'][2:], FebWeather['Unnamed: 2'][1:], MarWeather['Unnamed: 2'][1:], AprWeather['Unnamed: 2'][1:], MayWeather['Unnamed: 2'][1:], JunWeather['Unnamed: 2'][1:], JulWeather['Unnamed: 2'][1:], AugWeather['Unnamed: 2'][1:], SepWeather.iloc[:,2], OctWeather['Unnamed: 2'][1:], NovWeather['Unnamed: 2'][1:], DecWeather['Unnamed: 2'][1:]])).values

In [202]:
df.head()

,Number of customers,Day,weekday,isholiday,workingday,month,Season,Casual Customers,Registered Customers,AverageTemp
0,4540,2019-01-01,1,1,0,1,Winter,1083,3457,56.1
1,6567,2019-01-02,2,0,1,1,Winter,660,5907,45.6
2,7604,2019-01-03,3,0,1,1,Winter,938,6666,46.6
3,7362,2019-01-04,4,0,1,1,Winter,848,6514,45.0
4,5106,2019-01-05,5,0,1,1,Winter,701,4405,48.8

In [207]:
df['Precipitation']=(pd.concat([JanWeather['Unnamed: 16'][2:], FebWeather['Precipitation (in)'][1:], MarWeather['Precipitation (in)'][1:], AprWeather['Precipitation (in)'][1:], MayWeather['Precipitation (in)'][1:], JunWeather['Precipitation (in)'][1:], JulWeather['Precipitation (in)'][1:], AugWeather['Precipitation (in)'][1:], SepWeather.iloc[:,16], OctWeather['Precipitation (in)'][1:], NovWeather['Precipitation (in)'][1:], DecWeather['Precipitation (in)'][1:]])).values

In [212]:
df['Humidity']=(pd.concat([JanWeather['Unnamed: 8'][2:], FebWeather['Unnamed: 8'][1:], MarWeather['Unnamed: 8'][1:], AprWeather['Unnamed: 8'][1:], MayWeather['Unnamed: 8'][1:], JunWeather['Unnamed: 8'][1:], JulWeather['Unnamed: 8'][1:], AugWeather['Unnamed: 8'][1:], SepWeather.iloc[:,11], OctWeather['Unnamed: 8'][1:], NovWeather['Unnamed: 8'][1:], DecWeather['Unnamed: 8'][1:]])).values

In [215]:
df['Windspeed']=(pd.concat([JanWeather['Unnamed: 11'][2:], FebWeather['Unnamed: 11'][1:], MarWeather['Unnamed: 11'][1:], AprWeather['Unnamed: 11'][1:], MayWeather['Unnamed: 11'][1:], JunWeather['Unnamed: 11'][1:], JulWeather['Unnamed: 11'][1:], AugWeather['Unnamed: 11'][1:], SepWeather.iloc[:,14], OctWeather['Unnamed: 11'][1:], NovWeather['Unnamed: 11'][1:], DecWeather['Unnamed: 11'][1:]])).values

In [214]:
SepWeather.head()

,Sep,Max,Avg,Min,Max .1,Avg .1,Min .1,Max .2,Avg .2,Min .2,Max .3,Avg .3,Min .3,Max .4,Avg .4,Min .4,Total
0,1,82,76.4,71,68,66.0,64,84,70.8,58,12,8.2,5,30.3,30.2,30.2,0.00
1,2,88,76.9,72,72,69.2,67,91,78.1,51,15,8.4,0,30.1,30.0,29.9,0.00
2,3,88,79.0,72,68,63.8,58,87,62.0,36,12,6.9,0,30.1,30.0,30.0,0.05
3,4,94,81.3,72,75,70.7,68,90,72.1,44,14,8.7,0,30.0,29.9,29.9,0.00
4,5,79,76.0,73,73,62.9,60,82,64.0,52,14,11.0,6,30.1,30.0,29.9,0.02

In [216]:
df.head()

,Number of customers,Day,weekday,isholiday,workingday,month,Season,Casual Customers,Registered Customers,AverageTemp,Precipitation,Humidity,Windspeed
0,4540,2019-01-01,1,1,0,1,Winter,1083,3457,56.1,0.48,71.5,13.1
1,6567,2019-01-02,2,0,1,1,Winter,660,5907,45.6,0.00,69.0,5.5
2,7604,2019-01-03,3,0,1,1,Winter,938,6666,46.6,0.00,63.3,6.6
3,7362,2019-01-04,4,0,1,1,Winter,848,6514,45.0,0.00,79.8,5.8
4,5106,2019-01-05,5,0,1,1,Winter,701,4405,48.8,0.07,78.6,8.9

In [ ]:
#same data as in pre-made database! Great!